.todo-container {
  height: 700px;
  background-color: rgba(255, 255, 255, 0.87);
  border-radius: 10px;
  color: black;
  padding: .5em;  
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}


/* Form */
.todo-form {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.form-input {
  padding: .8em;
  border-radius: 10px;
  width: 90%;
  margin: auto;
  font-size: 1em;
}

.form-btn {
  padding: .7em;
  border-radius: 5px;
  margin: auto;
  background-color: rgb(177, 181, 178);
  width: 10em;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(3, 4, 4);
  margin-bottom: 5px;
}

.form-btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Todo List */
.todo-list-container {
  display: flex;
  justify-content: center;
  height: 400px;
  overflow: auto; 
  scroll-behavior: smooth;
}

.todo-list {
  width: 100%;
  text-align: center;
  padding: 0;
}

.todo-list-item {
  font-size: 2em;
  background-color: rgb(252, 252, 252);
}

.todo-name-container {
  padding: .2em;
  background-color: rgba(0, 0, 0, 0.3);
 
}

.todo-name-container:nth-child(1){
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.todo-list-item:nth-child(n+1) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.todo-btn-group {
  padding: .2em;
  margin: 0;
  background-color: rgba(230, 229, 240, 0.3);
  display: flex;
  justify-content: space-evenly;
}

.todo-action-btn {
  padding: .4em;
  width: 15em;
  border-radius: 5px;
}

.todo-action-btn:nth-last-of-type(odd) {
  background-color: red;
}


.todo-action-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

footer {
  display: flex;
  justify-content: center;
}

.footer-text {
  font-size: 1.5em;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
}

.edit-form {
  display: flex;
  flex-direction: column;
  margin: auto 1em;
}

.edit-btn-group {
  display: flex;
  justify-content: space-evenly;
}

.edit-input {
  padding: .3em;
  margin-bottom: 5px;
}